/*
Splash at Northwestern 2017
*/
/* 
    Created on : Apr 22, 2017, 6:35:40 PM
    Author     : William
*/

body {
  padding-top: 20px;
  padding-left: 20px;
  font-family: Sans-Serif;
  position: relative;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  
  height: 100vh;
  min-height: fit-content;
  background: url('../images/bg-2.jpg') center / cover;
}

.column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  width: 30vw;
}

.row {
  text-align: center;
}

a {
  color: hotpink;
}